* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  border-top: 10px solid #b700ff;
  position: relative;
}

button {
  font-size: 22px;
  padding: 20px;
  color: buttontext;

  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-img {
  width: 100%;
  height: auto;
}

nav {
  font-size: 18px;
}
nav a:link {
  display: inline-block;
  margin-top: 10px;
  margin-right: 30px;
}

article header {
  margin-bottom: 60px;
}

h2,
h3 {
  color: #b94ee4;
}

h1 {
  color: #b94ee4;
  font-style: italic;
  text-transform: uppercase;
}
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "TOP";
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #ffe70e;
  position: absolute;
  top: -10px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #b94ee4;
  border-bottom: 5px solid #b94ee4;
  padding: 50px 0;
  width: 500px;
}

.related {
  list-style: none;
  margin-left: 50px;
  margin-bottom: 20px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: #444;
  font-style: italic;
}

#author {
  font-size: 18px;
  font-style: italic;
}

.related-post {
  text-transform: uppercase;
  text-align: center;
}
