* {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #d4f4fa;
  padding: 20px 40px;
  margin-bottom: 60px;
}
.nav {
  font-size: 18px;
}

article header {
  margin-bottom: 40px;
}
body {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #40005e;
}

h1 {
  font-size: 26px;
  font-style: italic;
  text-transform: uppercase;
}

h1::first-letter {
  font-style: normal;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h3::after {
  content: "TOP";
  font-size: 16px;
  font-weight: bold;
  background-color: #ffe70e;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

a:link {
  font-size: 18px;
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
  text-decoration: none;
}
a:visited {
  color: "";
}
a:hover {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: #ce1d1d;
  font-style: italic;
}

#author {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}

.img-laura-jones {
  width: 50px;
  height: 50px;
}

.img-post-img {
  width: 100%;
  height: auto;
}
P {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.img-related-post {
  width: 75px;
  height: 75px;
}

related-author {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}
aside {
  width: 500px;
  padding: 50px 0;
  background-color: #f7f7f7;
  border-top: 5px solid;
  border-bottom: 5px solid;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.related {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 20px;
}
.related-author {
  font-size: 18px;
}

li {
  font-size: 20px;
}
